
<div class="container">

<h1>The cocktails <i class="fa fa-glass" aria-hidden="true"></i></h1>

  <%= link_to new_cocktail_path do %>
    <i class="fa fa-plus"></i>
  <% end %>

  <% @cocktails.each do |thing| %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      <div class="card-category">Popular</div>
      <div class="card-description">
        <h2><%= link_to thing.name, cocktail_path(thing) %></h2>
        <%= link_to edit_cocktail_path(thing) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        <%= link_to cocktail_path(thing), method: :delete do %>
          <i class="fa fa-times"></i>
        <% end %>
      </div>
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      </div>
  <% end %>
</div>
